<div class="side-bar-header">
  <div class="header-name">
    <a href="#">ユーザー名</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <ul class="room-lists">
    <li class="room-list">
      <a href="#">もけもけ部屋１</a>
    </li>
    <li class="room-list">
      <a href="#">もけもけ部屋２</a>
    </li>
  </ul>
</div>